<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="Board">
	<resultMap type="BoardNBoardFile" id="BBFileResultSet">
		<id property="board_id" column="BOARD_ID"/>
		<id property="file_id" column="FILE_ID"/>
		<result property="mId" column="MID"/>
		<result property="btitle" column="BTITLE"/>
		<result property="bcontent" column="BCONTENT"/>
		<result property="board_sort" column="BOARD_SORT"/>
		<result property="board_date" column="BOARD_DATE"/>
		<result property="modify_date" column="MODIFY_DATE"/>
		<result property="bstatus" column="BSTATUS"/>
		<result property="bcount" column="BCOUNT"/>
		<result property="cinema_div" column="CINEMA_DIV"/>
		<result property="theater_id" column="THEATER_ID"/>
		<result property="movie_id" column="MOVIE_ID"/>
		<result property="board_biv" column="BOARD_DIV"/>
		<result property="origin_name" column="ORIGIN_NAME"/>
		<result property="edit_name" column="EDIT_NAME"/>
		<result property="file_src" column="FILE_SRC"/>
		<result property="file_date" column="FILE_DATE"/>
		<result property="file_level" column="FILE_LEVEL"/>
		<result property="nickname" column="NICKNAME" />
	</resultMap>
	
	<!-- 공지등록 -->
	<insert id="insertNotice" parameterType="board">
		INSERT INTO BOARD
		VALUES('B' || BOARD_BOARD_ID_SND.NEXTVAL, #{mId}, #{btitle}, #{bcontent}, 'BOARD', 
				SYSDATE, NULL, 'Y', DEFAULT, NULL, NULL, NULL, 'BD4')
	</insert>
	
	<!-- 공지 boardId 조회 -->
	<select id="selectBoardId" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT BOARD_ID
		FROM (SELECT * 
      		  FROM BOARD
	  		  ORDER BY BOARD_DATE DESC)
		WHERE ROWNUM = 1
	</select>
	
	<!-- 공지 첨부파일 등록 -->
	<insert id="insertNoticeFile" parameterType="BoardFile">
		INSERT INTO BOARD_FILE
		VALUES('BF' || BOARD_FILE_FILE_ID.NEXTVAL, #{board_id}, #{origin_name}, #{edit_name}, #{file_src}, SYSDATE, 1)
	</insert>
	
	<!-- 관리자공지사항 글 불러오기(성희) -->
	<select id="selectNoticeList" parameterType="java.lang.String" resultMap="BBFileResultSet">
		SELECT TO_NUMBER(SUBSTR(BOARD.BOARD_ID, 2)) AS BOARD_ID, BOARD.MID, BTITLE, BCONTENT, BOARD_SORT, BOARD_DATE, BCOUNT, 
       		   FILE_ID, ORIGIN_NAME, EDIT_NAME, FILE_SRC, FILE_DATE, FILE_LEVEL, M.NICKNAME
		FROM BOARD, BOARD_FILE, MEMBER M
		WHERE BOARD.BOARD_ID = BOARD_FILE.BOARD_ID(+)
		AND BOARD.MID = M.MID
		AND BOARD.MID = #{mId}
		AND BSTATUS = 'Y'
		AND BOARD_DIV = 'BD4'
		ORDER BY BOARD_ID DESC
	</select>
	
	<!-- 마이페이지 - 내 문의 내역 (황이주) -->
	<select id="selectMyAsk" resultMap="BBFileResultSet">
		SELECT ROWNUM, BOARD_SORT, BTITLE 
		FROM BOARD
		WHERE MID = #{ mid }
		AND BOARD_SORT = 'BOARD'
		AND BOARD_DIV IN ('BD1', 'BD2', 'BD3')
		AND BSTATUS = 'Y'
	</select>
	
	<!-- 공지사항 검색결과 조회(성희) -->
	<select id="listCount" parameterType="Search" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		<choose>
			<when test="searchCondition != null and searchCondition.equals('btitle')">
				WHERE BTITLE LIKE '%' || #{searchResult} || '%'
			</when>
			<when test="searchCondition != null and searchCondition.equals('bcontent')">
				WHERE BCONTENT LIKE '%' || #{searchResult} || '%'
			</when>
		</choose>
	</select>
	
	<!-- 공지사항 카운트 업데이트(성희) -->
	<update id="updateCount" parameterType="java.lang.String">
		UPDATE BOARD
		SET BCOUNT = (SELECT BCOUNT FROM BOARD WHERE BOARD_ID = 'B' || #{board_id}) + 1
		WHERE BOARD_ID = 'B' || #{board_id}
	</update>
	
	<!-- 공지사항 상세보기(성희) -->
	<select id="selectNoticeOne" parameterType="java.lang.String" resultMap="BBFileResultSet">
		SELECT *
		FROM BOARD, BOARD_FILE
		WHERE BOARD.BOARD_ID = BOARD_FILE.BOARD_ID
		AND BOARD.BOARD_ID = 'B' || #{board_id}
	</select>
	
	<!-- 공지사항 페이징 getListCount(성희) -->
	<select id="getlistCount" parameterType="java.lang.String" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE BSTATUS = 'Y'
		AND MID = #{mId}
	</select>
	
	<!-- 공지사항 페이징 한쪽 불러오기(성희) -->
	<select id="selectNoticeListone" resultMap="BBFileResultSet">
		SELECT *
		FROM BOARD
		WHERE BSTATUS = 'Y'
		ORDER BY BOARD_ID DESC
	</select>
	
	<!-- 검색 결과 수 조회용 쿼리문 -->
	<select id="getSearchResultListCount" parameterType="SearchCondition1" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD B
		JOIN MEMBER M ON (B.MID = M.MID)
		WHERE B.BSTATUS = 'Y'
		<choose>
			<when test="btitle != null">
				AND BTITLE LIKE '%' || #{btitle} || '%'
			</when>
			<otherwise>
				AND BCONTENT LIKE '%' || #{bcontent} || '%'
			</otherwise>
		</choose>
	</select>
	
	<!-- 검색결과 리스트 조회용 메소드 -->
	<select id="selectSearchNoticeList" parameterType="SearchCondition1" resultMap="BBFileResultSet">
		SELECT TO_NUMBER(SUBSTR(BOARD.BOARD_ID, 2)) AS BOARD_ID, BOARD.MID, BTITLE, BCONTENT, BOARD_SORT, BOARD_DATE, BCOUNT, 
       		   FILE_ID, ORIGIN_NAME, EDIT_NAME, FILE_SRC, FILE_DATE, FILE_LEVEL, M.NICKNAME
		FROM BOARD, BOARD_FILE, MEMBER M
		WHERE BOARD.BOARD_ID = BOARD_FILE.BOARD_ID(+)
		AND BOARD.MID = M.MID
		AND BOARD.BSTATUS = 'Y'
		AND BOARD_DIV = 'BD4'
		<choose>
			<when test="btitle != null">
				AND BTITLE LIKE '%' || #{btitle} || '%'
			</when>
			<otherwise>
				AND BCONTENT LIKE '%' || #{bcontent} || '%'
			</otherwise>
		</choose>
		ORDER BY BOARD_ID DESC
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>