<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BookingHistory">
	<resultMap type="BookingHistory" id="bookingHistoryResultSet">
		<id property="reservation_id" column="RESERVATION_ID" />
		<result property="mid" column="mid" />
		<result property="reservation_id" column="RESERVATION_ID"/>
		<result property="movie_title" column="MOVIE_TITLE" />
		<result property="theater_name" column="THEATER_NAME" />
		<result property="movieroom_name" column="MOVIEROOM_NAME" />
		<result property="seat_row" column="SEAT_ROW" />
		<result property="seat_column" column="SEAT_column" />
		<result property="reservation_date" column="reservation_date" />
		<result property="turning_day" column="TURNING_DAY" />
		<result property="reservation_status" column="RESERVATION_STATUS" />
	</resultMap>
	
	<select id="selectBookingHist" resultMap="bookingHistoryResultSet">
	SELECT R.RESERVATION_ID, M.MOVIE_TITLE, TH.THEATER_NAME, MR.MOVIEROOM_NAME,
        S.SEAT_ROW, S.SEAT_COLUMN, R.RESERVATION_DATE, T.TURNING_DAY, 
        CASE WHEN R.RESERVATION_STATUS = '확인'
        AND SYSDATE > T.END_TIME 
        THEN '취소불가_리뷰가능'
        ELSE '취소가능_리뷰불가'
        END AS STATUS
	FROM RESERVATION R, MOVIEROOM MR, MOVIE M, TURNING T, THEATER TH, SEAT S, PLAY P
	WHERE R.SEAT_ID = S.SEAT_ID
	AND S.TURNING_ID = T.TURNING_ID
	AND T.PLAY_ID = P.PLAY_ID
	AND P.MOVIE_ID = M.MOVIE_ID
	AND MR.THEATER_ID = TH.THEATER_ID
	AND R.RESERVATION_STATUS != '취소'
	AND R.MID = #{ mid }
	</select>
	
	
</mapper>