<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MovieRoom">
	<resultMap type="MovieRoom" id="movieRoomResultSet">
		<id property="movieRoomId" column="MOVIEROOM_ID"/>
		<result property="theaterId" column="THEATER_ID"/>
		<result property="movieRoomName" column="MOVIEROOM_NAME"/>
		<result property="movieRoomAddress" column="MOVIEROOM_ADDRESS"/>
	
	</resultMap>
	
<!-- 상영관 추가하기~!~!~!~!~! -->
<insert id="insertMovieRoom" parameterType="MovieRoom">
		INSERT INTO MOVIEROOM VALUES ('MR' || TO_CHAR(MOVIEROOM_MOVIEROOM_ID.NEXTVAL),
		(SELECT THEATER_ID FROM THEATER
		WHERE MID = #{mid}), #{movieRoomName}, #{movieRoomAddress})
	</insert>
	
<!-- movieRoomId 값 가져오기 -->
<select id="selectIdCheck" resultMap="movieRoomResultSet" parameterType="MovieRoom">
	SELECT MOVIEROOM_ID 
	FROM(SELECT ROWNUM RNUM, MOVIEROOM_ID FROM MOVIEROOM
	ORDER BY MOVIEROOM_ID DESC)
	WHERE RNUM = 1
</select>

</mapper>