<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Licensee">

	<resultMap type="MovieRoom" id="movieRoomResultSet">
		<id property="movieRoomId" column="MOVIEROOM_ID"/>
		<result property="theaterId" column="THEATER_ID"/>
		<result property="movieRoomName" column="MOVIEROOM_NAME"/>
		<result property="movieRoomAddress" column="MOVIEROOM_ADDRESS"/>
	
	</resultMap>
	
	<resultMap type="MovieRoom" id="movieRoomResultSet2">
		<id property="movie_id" column="MOVIE_ID"/>
		<result property="movie_title" column="MOVIE_TITLE"/>
		<result property="movie_etitle" column="MOVIE_ETITLE"/>
		<result property="movie_content" column="MOVIE_CONTENT"/>
		<result property="open_date" column="OPEN_DATE"/>
		<result property="director_name" column="DIRECTOR_NAME"/>
		<result property="production_com" column="PRODUCTION_COM"/>
		<result property="movie_age" column="MOVIE_AGE"/>
		<result property="genre" column="GENRE"/>
		<result property="running_time" column="RUNNIG_TIME"/>
	</resultMap>
	
		<resultMap type="BoardFile" id="SearchBoardFileSet">
		<id property="fileId" column="FILE_ID" />
		<result property="boardId" column="BOARD_ID" />
		<result property="originName" column="ORIGIN_NAME" />
		<result property="editName" column="EDIT_NAME" />
		<result property="fileSrc" column="FILE_SRC" />
		<result property="fileDate" column="FILE_DATE" />
		<result property="fileLevel" column="FILE_LEVEL" />
	</resultMap>
	
	    <resultMap type="Play" id="PlayResultSet">
		
		<id property="playId" column="PLAY_ID"/>
		<result property="movieId" column="MOVIE_ID"/>
		<result property="playStatus" column="PLAY_STATUS"/>
		</resultMap>
		
		<resultMap type="Turning" id="TurningResultSet">
		
		<id property="turningId" column="TURNING_ID"/>
		<result property="playId" column="PLAY_ID"/>
		<result property="price" column="PRICE"/>
		<result property="turningDay" column="TURNING_DAY"/>
		<result property="turningTime" column="TURNING_TIME"/>
		<result property="startTime" column="START_TIME"/>
		<result property="endTime" column="END_TIME"/>
		<result property="movieRoomId" column="MOVIEROOM_ID"/>
		</resultMap> 
	
<!-- 상영관 추가하기~!~!~!~!~! -->
<insert id="insertMovieRoom" parameterType="MovieRoom">
		INSERT INTO MOVIEROOM VALUES ('MR' || TO_CHAR(MOVIEROOM_MOVIEROOM_ID.NEXTVAL),
		(SELECT THEATER_ID FROM THEATER
		WHERE MID = #{mid}), #{movieRoomName}, #{movieRoomAddress})
	</insert>
	
<!-- movieRoomId 값 가져오기 -->
<select id="selectIdCheck" resultMap="movieRoomResultSet" parameterType="MovieRoom">
	SELECT MOVIEROOM_ID 
	FROM(SELECT ROWNUM RNUM, MOVIEROOM_ID FROM MOVIEROOM
	ORDER BY MOVIEROOM_ID DESC)
	WHERE RNUM = 1
</select>

<!-- 정태 영화관 사진 파일 추가 -->
<!-- <insert id="insertFile" parameterType="BoardFile">
	INSERT INTO BOARD_FILE
		VALUES('BF' ||
		BOARD_FILE_FILE_ID.NEXTVAL,#{board_id},#{origin_name},
		#{edit_name},#{file_src},SYSDATE,#{file_level})
</insert> -->

<!-- 정태 영화관 사진 파일 수정 -->
<!-- <update id="updateFile">
	UPDATE BOARD_FILE
	SET FILE_LEVEL=0
	<choose>
		<when test="file_level == 1">
		WHERE FILE_LEVEL=1
		</when>
		<when test="file_level == 2">
		WHERE FILE_LEVEL=2
		</when>
	</choose>
</update> -->
<!-- 영화관 사진 보기 -->
<!-- <select id="selectFile" resultMap="SearchBoardFileSet">
		SELECT *
		FROM BOARD_FILE
		WHERE
		FILE_LEVEL=1 OR FILE_LEVEL = 2
		ORDER BY FILE_LEVEL
	</select> -->
	
	
	<insert id="insertPlay" parameterType="Play">
		
		  INSERT INTO PLAY VALUES ('P' || TO_CHAR(PLAY_PLAY_ID.NEXTVAL),
		(SELECT MOVIE_ID FROM MOVIE
		WHERE MOVIE_TITLE = #{movie_title}), DEFAULT)  
	</insert>
	
	
	<insert id="insertTurning" parameterType="Turning">
		INSERT INTO TURNING
		VALUES ('T' || TO_CHAR(TURNING_TURNING_ID.NEXTVAL), 'P21', 7000, '181015' , '12:00 ~ 13:20' ,'181015 12:00:00', '181015 13:20:00', 
        'MR51')
		
	</insert>
	
	

</mapper>