<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Movie">
	<resultMap type="Movie" id="movieResultSet">
		<id property="movie_id" column="MOVIE_ID"/>
		<result property="movie_title" column="MOVIE_TITLE"/>
		<result property="movie_etitle" column="MOVIE_ETITLE"/>
		<result property="movie_content" column="MOVIE_CONTENT"/>
		<result property="open_date" column="OPEN_DATE"/>
		<result property="director_name" column="DIRECTOR_NAME"/>
		<result property="production_com" column="PRODUCTION_COM"/>
		<result property="movie_age" column="MOVIE_AGE"/>
		<result property="genre" column="GENRE"/>
		<result property="running_time" column="RUNNIG_TIME"/>
	</resultMap>
	
	<!-- 박지용 영화 리스트를 ResultSet -->
	<resultMap type="Movie" id="movieResultSetTwo">
		<id property="turning_id" column="TURNING_ID"/>
		<result property="movie_id" column="MOVIE_ID"/>
		<result property="movie_title" column="MOVIE_TITLE"/>
		<result property="movie_etitle" column="MOVIE_ETITLE"/>
		<result property="movie_content" column="MOVIE_CONTENT"/>
		<result property="open_date" column="OPEN_DATE"/>
		<result property="director_name" column="DIRECTOR_NAME"/>
		<result property="production_com" column="PRODUCTION_COM"/>
		<result property="movie_age" column="MOVIE_AGE"/>
		<result property="genre" column="GENRE"/>
		<result property="play_id" column="PLAY_ID"/>
		<result property="price" column="PRICE"/>
		<result property="turning_day" column="TURNING_DAY"/>
		<result property="turning_time" column="TURNING_TIME"/>
		<result property="movieroom_id" column="MOVIEROOM_ID"/>
		<result property="play_status" column="PLAY_STATUS"/>
	</resultMap>
	
	<!-- 박지용 영화 리스트를 가져오는 쿼리문 -->
	<select id="selectMovieList" resultMap="movieResultSetTwo" parameterType="Movie">
		SELECT *
		FROM TURNING, PLAY, MOVIE
		WHERE PLAY.PLAY_ID = TURNING.PLAY_ID 
		AND MOVIE.MOVIE_ID = PLAY.MOVIE_ID
		AND PLAY_STATUS = 'Y'
		AND TURNING_DAY >= #{fromDate}
	</select>
	
	
</mapper>